.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid #cac3b4;
}

.title {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.header {
  font-size: 1.5rem;
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

.header a {
  color: #2b2b2c;
  text-decoration: none;
}

.menu {
  grid-column-start: 3;
  grid-column-end: 4;
}

.menuButton {
  justify-self: center;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}
