.navigation {
  display: grid;
}

.navigationItem {
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #0c69c8;
}

.navigationItem:hover {
  background-color: #f3f3f3;
}

.navigationItem:visited {
  color: #0c69c8;
}

.navigationTitle {
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1.25em;
}
