.reset {
  background: none;
  border-style: solid;
}

.button {
  composes: reset;
  line-height: 1.75em;
  border-radius: 15px;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
}
