.list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 0px;
}

@media (min-width: 769px) {
  .list {
    grid-template-columns: 1fr 10fr 1fr;
  grid-column-gap: 1em;
  }
}
