$semi_bold: 600;

@import "partials/term-group";
@import "partials/term";
@import "partials/filter";

$break-medium: 768px;

body {
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.anchor {
    display: block;
    height: 50px; /*same height as header*/
    margin-top: -50px; /*same height as header*/
    visibility: hidden;
    z-index: 0;
    width:1px;
}

nav {

    .navbar-header, #term-groups{
        height: 40px; 
    }

    .menu-toggle {
        float: right;
        div{
            width: 35px;
            height: 5px;
            background-color: #777;
            margin: 6px 0;
        }
    }



    #term-groups{
        margin-left: 25px;
    }
    
    .navbar-brand{
        padding: 5px 9px;
    }

    .title{
        font-size: 20px;
        line-height: 50px;
        font-weight: 400;
    }

    .feedback-link{
        z-index: 10;
    }

    .action-links{
        padding-left: 50px;
        font-size: 11px;
        padding-bottom: 5px;

        .btn{
            font-size: 11px;
        }
    }

    #top {
        font-size: 11px;
        margin-left: 22px;
    }

    .navbar-nav>li>a{
        padding: 15px 10px;
    }

    .word-usage.show{
        display: inline!important;
    }

    
}


.glossary-term {
    border-bottom: dashed 1px;
    cursor: help;
}



@media screen and (max-width: $break-medium){
    body {
        padding-top: 100px;

    }

    .anchor {
        height: 75px; /*same height as header*/
        margin-top: -75px; /*same height as header*/
    }

    nav {

        .navbar-header, #term-groups{
            height: initial;
        }
    }

}
