$semi_bold: 600;

@import "partials/term-group";
@import "partials/term";
@import "partials/filter";

body {
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.anchor {
    display: block;
    height: 50px; /*same height as header*/
    margin-top: -50px; /*same height as header*/
    visibility: hidden;
    z-index: 0;
    width:1px;
}

nav {

    .navbar-header, #term-groups{
        height: 40px;
    }
    
    .navbar-brand{
        padding: 5px 9px;
    }

    .title{
        font-size: 20px;
        line-height: 50px;
        font-weight: 400;
    }

    .feedback-link{
        z-index: 10;
    }

    .action-links{
        padding-left: 50px;
        font-size: 11px;
        padding-bottom: 5px;

        .btn{
            font-size: 11px;
        }
    }

    #top {
        font-size: 11px;
    }

    .navbar-nav>li>a{
        padding: 15px 10px;
    }

    .word-usage.show{
        display: inline!important;
    }

}


.glossary-term {
    color: #337ab7;
    border-bottom: dashed 1px #337ab7;
    cursor: help;
}
