$semi_bold: 600;

$break-extra-small: 374px;
$break-medium: 767px;
$break-large: 991px;

@import "partials/term-group";
@import "partials/term";
@import "partials/filter";

body {
    padding-top: 85px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.anchor {
    display: block;
    height: 60px; /*same height as header*/
    margin-top: -60px; /*same height as header*/
    visibility: hidden;
    z-index: 0;
    width:1px;
}

nav {
    .navbar-header, #term-groups{
        height: 40px; 
    }

    .menu-toggle {
        float: right;
        div{
            width: 35px;
            height: 5px;
            background-color: #777;
            margin: 6px 0;
        }
    }



    #term-groups{
        margin-left: 25px;
    }
    
    .navbar-brand{
        padding: 5px 9px;
    }

    .title{
        font-size: 20px;
        line-height: 50px;
        font-weight: 400;
        float: left;
    }

    .feedback-link{
        z-index: 10;
    }

    .action-links{
        padding-left: 50px;
        font-size: 11px;
        padding-bottom: 5px;

        .btn{
            font-size: 11px;
        }
    }

    .anchor-link-top {
        font-size: 11px;
        margin-left: 22px;
    }

    .navbar-nav>li>a{
        padding: 15px 8px;
    }

    .word-usage.show{
        display: inline!important;
    }

    .responsive-anchor-links {
        margin-bottom: 10px;

        .jump-to {
            margin-left: 50px;
            margin-right: 5px;
        }
    }    
}


.glossary-term {
    border-bottom: dashed 1px;
    cursor: help;
}


#glossary-terms {
    margin-left: 20px;
}

@media screen and (max-width: $break-large){
}

@media screen and (max-width: $break-medium){
    body {
        padding-top: 130px;

    }

    .anchor {
        height: 120px; /*same height as header*/
        margin-top: -120px; /*same height as header*/
    }

    nav {

        .navbar-header, #term-groups{
            height: initial;
        }

        .action-links {
            padding-left: 60px;
        }
    }

    #glossary-terms {
        margin-left: 35px;
    }
}

@media screen and (max-width: $break-extra-small){
    body {
        padding-top: 145px;
    }

    .anchor {
        height: 135px;
        margin-top: -135px;
    }
}
