.filters {
    .filter {
        z-index: 10;
    }

    .filter-by {
    }

    .btn-group {
        margin-left: 20px;
    }

    ul {
        padding: 5px;
    }

}

.filters-list {
    margin-top: 10px;
}
