.filters {
    
    margin-left: 5px;

    .filter {
        z-index: 10;
    }

    .filter-by {
    }

    .btn-group {
        margin-left: 10px;
    }

    ul {
        padding: 5px;
    }

}

.filters-list {
    margin-top: 10px;
    margin-left: 20px;
}


@media screen and (max-width: $break-medium){
    .filters {

        #user-tags {
            margin-left: 15px;
        }

        .filter-by {

        }

    }

    .filters-list {
        margin-left: 35px;
    }
}

@media screen and (max-width: $break-extra-small){
    .filters {
        #user-tags,#content-tags,#primary-source {
            margin-left: 10px;
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
