.term-group {
    h2 {
        color: #333333;
        font-size: 20px;
        font-weight: $semi_bold;
    }

    h3 {
        font-weight: $semi_bold;
        color: #333333;
        font-size: 17px;
    }
    hr {
        color: #CCCCCC;
    }

}
