.main {
  max-width: 900px;
  display: block;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 769px) {
  .main {
    padding: 0 50px;
  }
}

.container {
  display: grid;

  grid-template-areas:
    'header header'
    'nav content';

  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
}

header {
  grid-area: header;
  padding-top: 55px;
  position: relative;
  z-index: 2;
}

.nav {
  grid-area: nav;
  position: fixed;
  padding-top: 55px;
  max-height: 100vh;
  height: 100vh;
  z-index: 1;
}

main {
  grid-area: content;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: none;
    grid-template-areas: 'header' 'content';
  }
  .nav {
    width: 100%;
    z-index: 2;
    padding: 0;
  }
}
