.term {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-gap: 0.5em;
}

.term p {
  margin: 0px;
}

.loading {
  composes: term;
  color: #888;
}

.glossaryTerm {
  composes: term;
  color: #2b2b2c;
}

.title {
  font-size: 1.75em;
  margin: -3rem 0px 0px;
  padding-top: 3rem;
}

.formType {
  font-size: 1em;
  margin: 0 0.5em 0 0;
  color: #888;
}

.synonymsTitle {
  font-size: 1.25em;
  margin: 0px 0px 0.5em;
}

.tags {
}
